---
import ItemProject from "./projects/ItemProject.astro";

import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const maxProjects = 3;

const projectsToShow = projects.slice(0, maxProjects);
---

<div class="mt-12">
  <h2 class="text-3xl text-gray-800 font-playfair tracking-light font-bold">
    Projects
  </h2>

  <div class="mt-4">
    {
      projectsToShow.map((project) => (
        <ItemProject
          title={project.data.title}
          shortDescription={project.data.shortDescription}
          date={project.data.date}
          category={project.data.category}
          image={project.data.image}
          slugData={"/projects/" + project.slug}
        />
      ))
    }
  </div>

  <div class="text-center mt-8">
    <a
      href="/projects"
      class="text-gray-800 font-playfair tracking-tight underline cursor-pointer"
      >View all Projects</a
    >
  </div>
</div>
